@model SkateDate.Models.FriendViewModels.FriendsViewModel
@{
    ViewData["Title"] = "FriendList";
}
<h2>My FriendList</h2>
@foreach (var friend in Model.Friends)
{
    <form asp-controller="Friend" asp-action="RemoveFriend" method="post">
        <p>
            @friend.FriendID is currently your friend!
        <input type="hidden" name="hidden" value="@friend.FriendID" />
        <input type="submit" name="submit" value="Remove Friend" />
    </p>
</form>
}
