@model SkateDate.Models.FriendViewModels.RequestsUserMadeViewModel
@{
    ViewData["Title"] = "Requests I've Made";
}

<h2>Friend Requests I've Made</h2>

@foreach (var request in Model.Requests)
{
    <p>You have requested @request.RequesteeID's friendship, and the request is still pending</p>

    @*When a request is accepted, that user will be removed from the FriendRequestsUserMade list
        Thus, no longer pending*@
}