@{
    ViewData["Title"] = "Home Page";
}

<h2> Welcome to SkateDate!</h2>

<p>
    This site allows users to make friends and posts that are viewable only to friends.
    The fully functioning version of the app will allow users to set locations for meetings using google maps.
    The current version is pruely text based.
</p>
<h3>Register or Log in (on the top right) to make friends and posts, and view your friends' posts!</h3>
<hr />
<h2>Current Functionality of SkateDate</h2>
<ol>
    <li>Users can register, log in and out.</li>
    <li>The "Find Friends" page displays all users that are not already friends, have not been requested, and have not requested the users friendship.</li>
    <li>Friend requests are displayed bidirectionally: FriendRequests to the user, and friend requestes the user made which are still pending. These lists are updated when a requests is accepted.</li>
    <li>Users can accept or deny friend requests, thus removing the requester and requestee from eachothers lists respectively.</li>
    <li> Users make posts which are only view-able by friends. Posts are editable and removable.</li>
    <li>Users can comment on friends' posts. Comments are editable by their authors, and removable by authors of the comment AND authors of the posts the comments relate to.</li>
</ol>

@*I would like to make profiles with pictures... But Idontreally know howto do that yet...
    Im sure i could figure it out though*@