@model SkateDate.Models.PostsViewModel.EditPostViewModel

<h2>Edit Your Post</h2>
<div>
    <form asp-controller="Posts" asp-action="EditPost" method="post">
        <label>Edit your post</label>
        <input type="hidden" asp-for="@Model.Post.PostID" name="Post.PostID" />
        <textarea asp-for="@Model.Post.Message">@Model.Post.Message</textarea>
        @*<input type="hidden" name="PostID" value="@Model.Post.PostID" />*@

        <input type="submit" />
    </form>
</div>
